<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.smartairportsystem.mapper.merchantrequestmapper">
    <resultMap id="BaseResultMap" type="com.example.smartairportsystem.entity.merchantrequest">
    </resultMap>
    <insert id="addNewMerchantrequest" parameterType="com.example.smartairportsystem.entity.merchantrequest">
        insert into merchantrequest(realname,passwords,salt,shopname,email,idnumber) values(#{realname},sha1(#{passwords}),#{salt},#{shopname},#{email},#{idnumber})
    </insert>

    <select id="getMerchantrequestByEmail" resultType="com.example.smartairportsystem.entity.merchantrequest">
        select * from merchantrequest where email = #{email}
    </select>

    <select id="getMerchantrequestByID" resultType="com.example.smartairportsystem.entity.merchantrequest">
        select * from merchantrequest where requestid = #{requestid}
    </select>

    <select id="getMerchantrequestByIdnumber" resultType="com.example.smartairportsystem.entity.merchantrequest">
        select * from merchantrequest where idnumber = #{idnumber}
    </select>

    <delete id="removeOldMerchantrequest">
        delete from merchantrequest where requestid = #{requestid}
    </delete>

    <select id="listAllRequest" resultType="com.example.smartairportsystem.entity.merchantrequest">
        select * from merchantrequest
    </select>
</mapper>