<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.smartairportsystem.mapper.parkingspacemapper">
    <resultMap id="BaseResultMap" type="com.example.smartairportsystem.entity.parkingspace">
    </resultMap>
    <select id="listAllParkingspace" resultType="com.example.smartairportsystem.entity.parkingspace">
        select * from parkingspace
    </select>

    <select id="getParkingspaceByLocation" resultType="com.example.smartairportsystem.entity.parkingspace">
        select * from parkingspace where location = #{location} and parkingspaceid != #{exceptid}
    </select>

    <select id="getParkingspaceByID" resultType="com.example.smartairportsystem.entity.parkingspace">
        select * from parkingspace where parkingspaceid = #{parkingspaceid}
    </select>

    <update id="updateOldParkingspace" parameterType="com.example.smartairportsystem.entity.parkingspace">
        update parkingspace set location = #{location},price = #{price} where parkingspaceid = #{parkingspaceid}
    </update>

    <insert id="addNewParkingspace" parameterType="com.example.smartairportsystem.entity.parkingspace">
        insert into parkingspace(location,price) values(#{location},#{price})
    </insert>

    <delete id="removeOldParkingspace">
        delete from parkingspace where parkingspaceid = #{parkingspaceid}
    </delete>
</mapper>