<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.smartairportsystem.mapper.purchaserecordmapper">
    <resultMap id="BaseResultMap" type="com.example.smartairportsystem.entity.purchaserecord">
    </resultMap>
    <insert id="addNewRecord" parameterType="com.example.smartairportsystem.entity.purchaserecord">
        insert into purchaserecord(orderid,personid,ticketid,purchasetime,seatinfo) values(#{orderid},#{personid},#{ticketid},#{purchasetime},#{seatinfo})
    </insert>

    <delete id="removeOldRecord">
        delete from purchaserecord where orderid = #{orderid}
    </delete>

    <select id="getCountByTicketid" resultType="Integer">
        select count(*) from purchaserecord where ticketid = #{ticketid}
    </select>
</mapper>