<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.smartairportsystem.mapper.touristmapper">
    <resultMap id="BaseResultMap" type="com.example.smartairportsystem.entity.tourist">
    </resultMap>
    <insert id="logupNewTourist" parameterType="com.example.smartairportsystem.entity.tourist">
        insert into tourist(touristid,nickname,realname,passwords,salt,vip) values(#{touristid},#{nickname},#{realname},sha1(#{passwords}),#{salt},#{vip})
    </insert>

    <select id="getTouristByNickname" resultType="com.example.smartairportsystem.entity.tourist">
        select * from tourist where nickname = #{nickname}
    </select>

    <select id="getTouristByToken" resultType="com.example.smartairportsystem.entity.tourist">
        select t.touristid,t.nickname,t.realname,t.passwords,t.salt,t.vip from tourist t,touristtoken ttk where ttk.token = #{token} and ttk.id = t.touristid
    </select>
</mapper>